<h1 style="color:black;font-size:60px;text-align:center;">
  {{title}}

</h1>


<img src="https://www.logosvgpng.com/wp-content/uploads/2018/03/mercer-logo-vector.png" width="300" height="200"  alt="mercer">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=bmFrdWxyYXRob3JlNkBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%237986CB&amp;color=%237986CB&amp;color=%237986CB" style="border:solid 1px #777" width="1200" height="300" frameborder="0" scrolling="no"></iframe>
<h2>Manager : Sheetal Dhar</h2>
<button type="button">Save</button>

<table style="width:200px; border: 1px solid black align=centre">
<tr>
  
  <th>Process</th>
  <th>Task&nbsp;ID</th>
  <th>Task&nbsp;Description</th>

  <th>Task&nbsp;Received&nbsp;Date</th>
  <th>Start&nbsp;date</th>    

  
  <th>Due&nbsp;date</th>    
  <th>End&nbsp;Date</th>
  <th>Task&nbsp;Type</th> 
  <th>New&nbsp;Implementation</th>
  <th>Mytime&nbsp;Code</th>
  <th>Client</th>
  <th>Processor</th>
  <th>QC&nbsp;r</th>
  <th>Work&nbsp;Status</th>
  <th>Requestor/Onshore-Stakeholder</th>
  <th>Estimated&nbsp;Efforts</th>
  <th>Actual&nbsp;Efforts</th>
  <th>Comments</th>
  <th>Accuracy</th>
  <th>TAT</th>

</tr>
<tr *ngFor="let task of Task">
  <!-- <td>{{task.Process}}</td> -->
 <select name="demo" id="#">
    <option selected="selected" value="one">Data</option>
    <option value="two">Ireland</option>
    <option value="three">Calculations</option>
    <option value="three">OneView</option>
    <option value="three">Automation</option>

  </select>

  <td> <input type="text"></td>
  <td> <input type="text"></td>

  <td> <input type="date"></td>
  <td> <input type="date"></td>
  <td> <input type="date"></td>
  <td> <input type="date"></td>
  
  
  <td> <input type="text"></td>
  <td><select name="demo" id="#">
    <option selected="selected" value="one">Yes</option>
    <option value="two">No</option>
  </select></td>
  <td> <input type="text"></td>
  <td> <input type="text"></td>
 <td>  
   <select name="demo" id="#">
    <option selected="selected" value="one">Sheetal Dhar</option>
    <option value="two">Charu Juneja</option>
    <option value="three">Nakul Rathore</option>
    <option value="three">Ravi Talreja</option>
  </select>
</td>
  <td>  
    <select name="demo" id="#">
    <option selected="selected" value="one">Sheetal Dhar</option>
    <option value="two">Charu Juneja</option>
    <option value="three">Nakul Rathore</option>
    <option value="three">Ravi Talreja</option>
  </select>
</td>
 <td>
   <select name="demo" id="#">
    <option selected="selected" value="one">Completed</option>
    <option value="two">InProgress</option>
    <option value="three">Incomplete</option>
    <option value="three">On Hold</option>
   </select>
 </td>
 <td> <input type="text"></td>
 <td> <input type="text"></td>
 <td> <input type="text"></td>
  <td> <input type="text"></td>
  
  <td> <form name="registrationForm">
    <input type="range" name="ageInputName" id="ageInputId" value="50" min="1" max="100" oninput="ageOutputId.value = ageInputId.value">
    <output name="ageOutputName" id="ageOutputId">50</output>
 </form> </td>
  
  <td> <input type="text"></td>
</tr>
</table>